:root {
  --black-muddy: #161932;
  --black-dark: #040834;
  --black-bright: #000000;
  --black-light: #4b555f;
  --black-pale: #7981ff;
  --red-muddy: #4b1627;
  --red-dark: #8a0038;
  --red-bright: #ff1e46;
  --red-light: #ff3c20;
  --red-pale: #fbb7b7;
  --green-muddy: #243021;
  --green-dark: #27501e;
  --green-bright: #30c110;
  --green-light: #beff17;
  --green-pale: #9df27a;
  --yellow-muddy: #3a1d17;
  --yellow-dark: #cd4600;
  --yellow-bright: #ff9a1d;
  --yellow-light: #ffcb23;
  --yellow-pale: #f9ef83;
  --blue-muddy: #131e28;
  --blue-dark: #003569;
  --blue-bright: #2381dc;
  --blue-light: #47c1ff;
  --blue-pale: #88c5ff;
  --purple-muddy: #1c0f28;
  --purple-dark: #270081;
  --purple-bright: #7a2dff;
  --purple-light: #933bf6;
  --purple-pale: #b96cff;
  --cyan-muddy: #153435;
  --cyan-dark: #00505d;
  --cyan-bright: #2e9ea2;
  --cyan-light: #43dcf2;
  --cyan-pale: #86feff;
  --white-muddy: #232f3c;
  --white-dark: #87a4a7;
  --white-bright: #cff7fb;
  --white-light: #daeff2;
  --white-pale: #ffffff;
}