:root {
  --black-muddy: #000000;
  --black-dark: #0a0e14;
  --black-bright: #101c1f;
  --black-light: #212b31;
  --black-pale: #3d4a50;
  --red-muddy: #4b1627;
  --red-dark: #8a0038;
  --red-bright: #ff1e46;
  --red-light: #ff3c20;
  --red-pale: #ff9b88;
  --green-muddy: #243021;
  --green-dark: #27501e;
  --green-bright: #30c110;
  --green-light: #beff17;
  --green-pale: #d3fe65;
  --yellow-muddy: #6b1c00;
  --yellow-dark: #cd4600;
  --yellow-bright: #ff9a1d;
  --yellow-light: #ffcb23;
  --yellow-pale: #f2e77a;
  --blue-muddy: #0c2841;
  --blue-dark: #003569;
  --blue-bright: #2381dc;
  --blue-light: #47c1ff;
  --blue-pale: #92ecff;
  --purple-muddy: #16005c;
  --purple-dark: #270081;
  --purple-bright: #7a2dff;
  --purple-light: #933bf6;
  --purple-pale: #b96cff;
  --cyan-muddy: #0e3d53;
  --cyan-dark: #00525d;
  --cyan-bright: #00c1b1;
  --cyan-light: #53f1ff;
  --cyan-pale: #86feff;
  --white-muddy: #5e787f;
  --white-dark: #b2c0c2;
  --white-bright: #c7d1d5;
  --white-light: #e0e7e8;
  --white-pale: #f0f2f4;
}