:nth-child(10n + 1 of li,h2){
    
	--r1:0.61;
    
	--r2:0.65;
    
	--r3:0.74;
    
	--r4:0.69;
    
	--r5:0.54;
    
	--r6:0.6;
    
	--r7:0.37;
    
	--r8:0.13;
    
	--r9:0.36;
    
	--r10:0.6;
    
	--r11:0.39;
    
	--r12:0.25;
    
	--r13:0.46;
    
	--r14:0.29;
    
	--r15:0.47;
    
	--r16:0.33;
    
	--r17:0.29;
    
	--r18:0.26;
    
}

:nth-child(10n + 2 of li,h2){
    
	--r1:0.45;
    
	--r2:0.42;
    
	--r3:0.55;
    
	--r4:0.51;
    
	--r5:0.33;
    
	--r6:0.14;
    
	--r7:0.88;
    
	--r8:0.4;
    
	--r9:0.84;
    
	--r10:0.58;
    
	--r11:0.51;
    
	--r12:0.45;
    
	--r13:0.52;
    
	--r14:0.37;
    
	--r15:0.28;
    
	--r16:0.12;
    
	--r17:0.21;
    
	--r18:0.51;
    
}

:nth-child(10n + 3 of li,h2){
    
	--r1:0.61;
    
	--r2:0.65;
    
	--r3:0.47;
    
	--r4:0.35;
    
	--r5:0.25;
    
	--r6:0.54;
    
	--r7:0.46;
    
	--r8:0.33;
    
	--r9:0.13;
    
	--r10:0.59;
    
	--r11:0.56;
    
	--r12:0.71;
    
	--r13:0.43;
    
	--r14:0.57;
    
	--r15:0.51;
    
	--r16:0.07;
    
	--r17:0.75;
    
	--r18:0.52;
    
}

:nth-child(10n + 4 of li,h2){
    
	--r1:0.5;
    
	--r2:0.28;
    
	--r3:0.63;
    
	--r4:0.57;
    
	--r5:0.72;
    
	--r6:0.37;
    
	--r7:0.75;
    
	--r8:0.31;
    
	--r9:0.7;
    
	--r10:0.4;
    
	--r11:0.4;
    
	--r12:0.45;
    
	--r13:0.63;
    
	--r14:0.9;
    
	--r15:0.57;
    
	--r16:0.2;
    
	--r17:0.52;
    
	--r18:0.4;
    
}

:nth-child(10n + 5 of li,h2){
    
	--r1:0.46;
    
	--r2:0.75;
    
	--r3:0.41;
    
	--r4:0.44;
    
	--r5:0.34;
    
	--r6:0.37;
    
	--r7:0.44;
    
	--r8:0.45;
    
	--r9:0.55;
    
	--r10:0.18;
    
	--r11:0.24;
    
	--r12:0.35;
    
	--r13:0.2;
    
	--r14:0.35;
    
	--r15:0.3;
    
	--r16:0.49;
    
	--r17:0.43;
    
	--r18:0.42;
    
}

:nth-child(10n + 6 of li,h2){
    
	--r1:0.51;
    
	--r2:0.34;
    
	--r3:0.46;
    
	--r4:0.92;
    
	--r5:0.5;
    
	--r6:0.64;
    
	--r7:0.57;
    
	--r8:0.55;
    
	--r9:0.62;
    
	--r10:0.52;
    
	--r11:0.45;
    
	--r12:0.38;
    
	--r13:0.66;
    
	--r14:0.37;
    
	--r15:0.6;
    
	--r16:0.03;
    
	--r17:0.59;
    
	--r18:0.45;
    
}

:nth-child(10n + 7 of li,h2){
    
	--r1:0.17;
    
	--r2:0.85;
    
	--r3:0.23;
    
	--r4:0.71;
    
	--r5:0.31;
    
	--r6:0.67;
    
	--r7:0.76;
    
	--r8:0.33;
    
	--r9:0.78;
    
	--r10:0.26;
    
	--r11:0.74;
    
	--r12:0.47;
    
	--r13:0.3;
    
	--r14:0.67;
    
	--r15:0.56;
    
	--r16:0.89;
    
	--r17:0.26;
    
	--r18:0.37;
    
}

:nth-child(10n + 8 of li,h2){
    
	--r1:0.24;
    
	--r2:0.73;
    
	--r3:0.74;
    
	--r4:0.71;
    
	--r5:0.68;
    
	--r6:0.51;
    
	--r7:0.21;
    
	--r8:0.55;
    
	--r9:0.96;
    
	--r10:0.61;
    
	--r11:0.52;
    
	--r12:0.32;
    
	--r13:0.41;
    
	--r14:0.6;
    
	--r15:0.42;
    
	--r16:0.96;
    
	--r17:0.26;
    
	--r18:0.37;
    
}

:nth-child(10n + 9 of li,h2){
    
	--r1:0.54;
    
	--r2:0.44;
    
	--r3:0.24;
    
	--r4:0.51;
    
	--r5:0.78;
    
	--r6:0.06;
    
	--r7:0.19;
    
	--r8:0.89;
    
	--r9:0.46;
    
	--r10:0.26;
    
	--r11:0.87;
    
	--r12:0.59;
    
	--r13:0.1;
    
	--r14:0.42;
    
	--r15:0.69;
    
	--r16:0.6;
    
	--r17:0.44;
    
	--r18:0.61;
    
}

:nth-child(10n + 10 of li,h2){
    
	--r1:0.4;
    
	--r2:0.32;
    
	--r3:0.89;
    
	--r4:0.61;
    
	--r5:0.61;
    
	--r6:0.39;
    
	--r7:0.7;
    
	--r8:0.57;
    
	--r9:0.43;
    
	--r10:0.5;
    
	--r11:0.35;
    
	--r12:0.53;
    
	--r13:0.17;
    
	--r14:0.54;
    
	--r15:0.53;
    
	--r16:0.31;
    
	--r17:0.36;
    
	--r18:0.49;
    
}

