@import url('/card.css');
@import url('/colorscheme.css');

body {
	margin: 0;
}

a {
	color: var(--blue-dark);
} a:visited {
	color: var(--purple-dark);
}

h1 {
	font-size: 5em;
	display: inline-flex;
	margin-top: 0;
	gap: 0.1em;
	padding-left: 0.2em;

	background: linear-gradient(to bottom right,
		var(--purple-dark) 23%,calc(23% + 1px),
		var(--purple-bright) 34%,calc(34% + 1px),
		var(--purple-light) 40%,calc(40% + 1px),
		var(--purple-pale) 44%, #0000 calc(44% + 1px));

	color: var(--blue-light);
	text-shadow: var(--black-dark) 2px 3px;
	font-family: serif;
}
h1 img {
	width: auto;
	height: 2em;
	margin-top: 0.1em;
}

h2, h3, h4, h5, h6 {
	font-family: "Go", sans;
	color: var(--black-pale);
}
h3 {
	margin: 0 0.4em;
	font-size: 1.4em;
	text-decoration-thickness: 3px;
}
h2 {
	font-size: 2em;
}
hgroup > h3 {
	position: relative;
	top: 0.3em;
}
hgroup > p {
	margin: 0;
	padding: 0.4em;
	padding-bottom: 0.3em;
	color: white;
	font-weight: bold;
	background-color: #00000070;
	text-shadow: black 0px 0.5px 1px;
	font-family: "Bainsley", sans;
	font-style: italic;
}

img {
	width: 100%;
}

/* TODO: figure out how to use article and/or main consistently */
body > main,
body > article {
	padding: 1em;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}
article {
	max-width: 80em;
}
blockquote *,
blockquote {
	font-family: serif;
	font-style: italic;
	text-align: initial;
}


/* -----SECTION----- */
section.directory{
	display: flex;
	flex-flow: column;
	align-items: flex-start;

	
}
.directory ul{
	display: inline-flex;
	flex-wrap: wrap;
	gap: 1em;
	padding: 0;

	position: relative;
}
.directory ul::before {
	content: '';
	top: 3em;
	left: 5em;
	bottom: 5em;
	right: 5em;
	border-radius: 5px;
	z-index: -3;


	position: absolute;
}
.directory h2 {
	margin: 0 1em ;
	position: relative;
	top: 1.3em;
	padding: 0.3em 0.3em 1em 0.3em;
}
.directory h2.card::before,.directory ul::before {
	background: linear-gradient(to bottom left, var(--white-pale), 80%, var(--white-bright));
	border: 1px solid var(--white-dark);
}
h2.card {
	--clip-scale: 0;
	--card-foreground: var(--white-pale);
	--card-background: linear-gradient(to bottom left, var(--white-bright), var(--white-dark));
	--card-filter: none;
}

.directory li {
	display: block;
}

/* -----PAGE PREVIEW----- */
a.page-preview:link,
a.page-preview:visited{
	text-decoration: none;
}
a.page-preview{
	display: flex;
	flex-flow: column-reverse;

	height: 12em;
	max-width: 18em;
	min-width: 12em;
}

.page-preview.card {
	--size: 1em;
	--clip-scale: 0.3;
	--rotate-scale: 0.8;
	--card-foreground: linear-gradient(to top , #00000075 1%, #00000015 60%), var(--url) top / cover;
	--card-background: linear-gradient(to right,
		#0000 6em,calc(6em + 1px),
		var(--blue-bright) 93%,calc(93% + 1px),
		var(--blue-light) 99%);
}
.directory li:nth-child(even) .card {
	--rotate-scale: calc( 0 - 0.8);
}
a.card:visited h3, a.card:link h3 {
	color: white;
	text-decoration: underline 3px var(--blue-light);
}
a.card:visited h3{
	text-decoration-color: var(--purple-light);
}
a.page-preview.card::after {
	background-color: var(--blue-bright);
}
a.page-preview.card:visited::after {
	background-color: var(--purple-dark);
}
.page-preview.card :is(h1, h2, h3, h4, h5, h6) {
	/* NOTE: this only looks good for bold fonts */
	-webkit-text-stroke: 1px var(--black-pale);
	paint-order: stroke fill;
}
.page-preview.card hgroup {
	position: relative;
	top: 0.4em;
}

