body {
	margin: 0;
}

h1 {
	font-size: 5em;
	display: inline-flex;
	margin-top: 0;
	gap: 0.1em;
	padding-left: 0.2em;

	background: linear-gradient(to bottom right,
		var(--purple-dark) 23%,calc(23% + 1px),
		var(--purple-bright) 34%,calc(34% + 1px),
		var(--purple-light) 40%,calc(40% + 1px),
		var(--purple-pale) 44%, #00000000 calc(44% + 1px));

	color: var(--blue-light);
	text-shadow: var(--black-dark) 2px 3px;
}
h1 img {
	width: auto;
	height: 2em;
	margin-top: 0.1em;
}

img {
	width: 100%;
}

article {
	max-width: 80em;
	padding: 1em;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

p {
}

blockquote *,
blockquote {
	font-family: serif;
	text-align: initial;

}
